/************
MEDIA QUERY S
*************/
@media screen and (min-width: 576px){
    /* ridimensiono le sezioni sidebar e main container */
    .sidebar_container{
        min-width: 200px;
    }
    .main_container{
        width: calc(100% - 200px);
    }

    /* sidebar menu */
    .sidebar_container .sidebar_menu span{
        display: initial;
        font-size: 12px;
        font-weight: 600;
    }
    .sidebar_container .sidebar_menu a{
        width: 100%;
        padding-left: 10px;
    }
    .sidebar_container .sidebar_menu a img{
        width: 40px;
        vertical-align: middle;
    }
    
    /* cambio il logo di spotify da piccolo a grande */
    .sidebar_menu .small_logo{
        display: none;
    }
    .sidebar_menu .sidebar_logo a{
        width: 80%;
    }
    .sidebar_menu .sidebar_logo .big_logo{
        display: inline-block;
        padding: 14px;   
        filter: opacity(1);
        width: 100%;
    }

    /* sidebar playlist */
    .sidebar_playlist .sidebar_playlist_container{
        display: initial;
    }

    /* sidebar last section */
    .sidebar_container .sidebar_last_section{
        padding-bottom: 0;
    }
    .sidebar_container .sidebar_last_section span{
        display: inline;
        font-size: 12px;
        font-weight: 600;
    }
    .sidebar_last_section .sidebar_profile_container{
        border-top: 1px solid #878787;
        margin: 0 12px ;
        padding: 10px 0;
    }
    .sidebar_last_section > div a{
        width: 100%;
    }
    a.sidebar_download{
        text-align: left;
        padding: 10px 12px 5px;
    }
    /* .sidebar_profile_container {
        padding: 10px 12px 5px;
    } */
}